---
import { badgeVariants, type BadgeVariants } from './badge-variants';
import { cn } from '@/lib/utils';

export interface Props extends BadgeVariants {
  class?: string;
}

const { variant, size, class: className } = Astro.props;
---

<span class={cn(badgeVariants({ variant, size }), className)}>
  <slot />
</span>
